@import "../../assets/sass/main.scss";

.dashboard-container{
    .title{
        margin-top: 20px;
        h2{
            font-size: 32px;
            line-height: 48px;
            text-transform: uppercase;
        }
    }
    .jobs-posted{
        h3{
            font-size: 27px;
            line-height: 40px;
            margin: 10px 0px;
        }
    }
    .add-btnContainer{
        width: 100%;
        margin: 5px 0px;
        margin-top: 10px;
        text-align: right;
        .add-btn{
            text-align: right;
            background-color: #000;
            color: #fff;
            padding: 5px 25px;
            border: 1.5px solid #000;
            border-radius: 15px;
            text-transform: uppercase;
            cursor: pointer;
            margin-right: 15px;
        }
    }

    @media(max-width: 768px){
        .title{
            h2{
                font-size: 26px;
            }
        }
        .jobs-posted{
            h3{
                font-size: 22px;
            }
        }
        .add-btnContainer{
            text-align: center;
            .add-btn{
                margin-left: 15px;
            }
        }
    }
}