@import "../../assets/sass/main.scss";

.dashboard-container {
    .title {
        margin-top: 20px;
        h2 {
            font-size: 32px;
            line-height: 48px;
            text-transform: uppercase;
        }
    }
    h3 {
        font-size: 27px;
        line-height: 40px;
        margin: 10px 0px;
    }
    .add-btnContainer {
        width: 100%;
        margin: 5px 0px;
        margin-top: 10px;
        text-align: right;
        .add-btn {
            text-align: right;
            background-color: #000;
            color: #fff;
            padding: 5px 25px;
            border: 1.5px solid #000;
            border-radius: 15px;
            text-transform: uppercase;
            cursor: pointer;
            margin-right: 15px;
        }
    }
    .applications {
        .tb-titles {
            width: 100%;
            display: flex;
            text-align: left;
            .name {
                flex: 2;
            }
            .pos {
                flex: 3;
            }
            .msg {
                flex: 2;
            }
            .remarks {
                flex: 2;
            }
            .tb-title {
                font-weight: 600;
            }
        }
        .tb-dataContainer {
            display: flex;
            width: 100%;
            flex-direction: column;
            .tb-datas {
                display: flex;
                width: 100%;
                .name {
                    flex: 2;
                }
                .pos {
                    flex: 3;
                    display: flex;
                    justify-content: space-between;
                    .tb-links {
                        margin-right: 10px;
                        font-style: italic;
                        a {
                            color: $color-orange;
                            margin: 0px 5px;
                        }
                    }
                }
                .msg {
                    flex: 2;
                }
                .remarks {
                    flex: 2;
                    display: flex;
                    justify-content: space-between;
                    img {
                        margin-left: 10px;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                    }
                    .rem-icons {
                        img {
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                }
                .tb-data {
                    text-align: left;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .title {
            h2 {
                font-size: 26px;
            }
        }
        h3 {
            font-size: 22px;
        }
        .add-btnContainer {
            text-align: center;
            .add-btn {
                margin-left: 15px;
            }
        }
        .applications {
            margin-top: 20px;
        }
        .tb-datas {
            flex-direction: column;
        }
        .tb-title {
            display: none;
        }
    }
}
