@import "../../../assets/sass/main.scss";

.connect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .connect-profile {
        display: flex;
        justify-content: space-around;

        img {
            margin-top: $margin-sm;
            width: 3.6rem;
            height: 3.6rem;
            padding: 0px;
            box-shadow: -1px 1px 2px rgba(191, 191, 191, 0.2), 1px -1px 2px rgba(191, 191, 191, 0.2),
                -1px -1px 2px rgba(255, 255, 255, 0.9), 1px 1px 3px rgba(191, 191, 191, 0.9),
                inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(191, 191, 191, 0.5);
            border-radius: 10px;
        }
        .connect-name {
            width: 8rem;
            margin-top: $margin-sm;
            margin-left: $margin-sm;
        }
    }

    p {
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
    }
    button {
        // margin-top: $margin-regular;
        margin-left: $margin-regular;
        background-color: $color-black;
        color: $color-white;
        border: none;
        border-radius: 12px;
        padding: 0.5rem 0.8rem;
        // height: 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}
