@import "../../../assets/sass/main.scss";

@media (min-width: 560px){
    .Tweetbox{
        .input-text-field{
            .input-video{
                margin-top: -9.8%;
            }
        }
    }
}
@media (max-width: 560px){
    .Tweetbox{
        .input-text-field{
            .input-video{
                margin-top: -13.6%;
            }
        }
    }
}

.Tweetbox{
    display: flex;
    align-items: center;
    margin: $margin-sm;
    .profile-pic{
        img{
            margin-top: $margin-sm;
            height: 55px;
            width: 55px;
            border-radius: 50%;
        }
    }
    .input-text-field{
        margin: $margin-sm;
        padding: $padding-sm;
        width: 500px;
        height: 25px;
        border-radius: 22px;
        border: 1px solid $color-gray;
        .text-field{
            border: none;
            outline: none;
        }
        .text-field::placeholder{
            font-family: 'Public Sans', sans-serif;
        }
        .input-video{
            display: flex;
            justify-content: flex-end;
            img{
                margin: $margin-sm;
                cursor: pointer;
            }
        }
    }
}
.modal{
    z-index: 9999;
  position: absolute;
  top: 50%;
  left: 42%;
  min-width: 35rem;
  min-height: 20rem;
  padding: 15px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: #fff;
  h3{
      font-weight: normal;
      margin: $margin-sm;
  }
  .poster{
      display: flex;
      img{
          padding: $padding-sm;
      }
      a{
          margin-top: $margin-sm;
          text-decoration: none;
          color: $color-black;
          font-weight: bold;
      }
      select{
          border: solid 1px $color-gray;
          border-radius: 10px;
      }
      select#anyone option[value="Anyone"]   { background-image:url(../../../assets/images/icons/Anyone.svg);   }
      .post-view{
          display: flex;
          flex-direction: column;
      }
      
  }
  input{
      height: 12rem;
      width: 23rem;
      border: none;
      margin: $margin-sm;
      outline: none;
  }
  .modal-bottom{
      display: flex;
      justify-content: space-between;
      button{
          cursor: pointer;
          background-color: $color-white;
          border: none; 
          height: 0.2rem;
          width: 3rem;
          padding: 0;
      }
      .media-input{
          margin: $margin-sm;
          img{
              margin-left: $margin-regular;
          }
      }
  }
  
}
.bg{
    z-index: 9998;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}