@import "../../../assets/sass/main.scss";

@media (min-width: 560px) {
    .Tweetbox {
        .input-text-field {
            .input-video {
                margin-top: -9.8%;
            }
            .modal {
                min-width: 35rem;
            }
        }
    }
}
@media (max-width: 560px) {
    .Tweetbox {
        .input-text-field {
            .input-video {
                margin-top: -13.6%;
            }
            .modal {
                margin-left: 2rem;
                min-width: 80%;
            }
        }
    }
}

.Tweetbox {
    display: flex;
    align-items: center;
    margin: $margin-sm;
    .profile-pic {
        height: 55px;
        width: 55px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: $margin-sm;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .input-text-field {
        margin: $margin-sm;
        padding: $padding-sm;
        width: 500px;
        height: 25px;
        border-radius: 22px;
        border: 1px solid $color-gray;
        .text-field {
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
        }
        .text-field::placeholder {
            font-family: "Public Sans", sans-serif;
        }
        .input-video {
            display: flex;
            justify-content: flex-end;
            input {
                margin-top: 0.8rem;
                margin-left: 0.2rem;
                padding: 0.3rem;
                background-color: rgba(0, 0, 0, 0);
                border: none;
                cursor: pointer;
                img {
                    margin: $margin-sm;
                    cursor: pointer;
                }
            }
        }
    }
}
.modal {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 42%;
    min-height: 20rem;
    padding: 15px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: #fff;
    h3 {
        font-weight: normal;
        margin: $margin-sm;
    }
    .poster {
        margin: 10px 1.5rem;
        display: flex;
        .poster-img-container {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
        }

        img {
            // padding: $padding-sm;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .profile-link {
            margin-top: $margin-sm;
            text-decoration: none;
            color: $color-black;
            font-weight: bold;
        }
        select {
            border: solid 1px $color-gray;
            border-radius: 10px;
        }
        select#anyone option[value="Anyone"] {
            background-image: url(../../../assets/images/icons/Anyone.svg);
        }
        .post-view {
            display: flex;
            flex-direction: column;
        }
    }

    .tweetbox-content-wrapper {
        overflow-y: scroll;
        max-height: 50vh;
        max-width: 600px;
        margin: 1.5rem 0;
        // display: flex;
        // flex-direction: column;
    }

    .tweetbox-textarea-container {
        display: flex;
        margin: 0 1.5rem;

        textarea {
            padding: 10px;
            overflow: hidden;
            min-height: 6rem;
            // height: 100%;
            // width: 100%;
            border: none;
            // margin: $margin-sm;
            outline: none;
            border: 1px solid #c4c4c4;
            border-radius: 10px;
            // width: 300px;
            // width: 100%;
            // max-width: 100%;
            // min-width: 100%;
            box-sizing: border-box;
            resize: none;
            flex: 1;
        }
    }

    .tweetbox-image-container {
        // height: 180px;
        // width: 100%;
        margin: 0 1.5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .modal-bottom {
        display: flex;
        justify-content: space-between;
        margin: 0 1.5rem;

        button {
            cursor: pointer;
            background-color: $color-white;
            border: none;
            // height: 0.1rem;
            // width: 3rem;
            padding: 10px 15px;
            border: 1px solid #c4c4c4;
            // box-shadow: -1px 1px 2px rgba(191, 191, 191, 0.2), 1px -1px 2px rgba(191, 191, 191, 0.2),
            //     -1px -1px 2px rgba(255, 255, 255, 0.9), 1px 1px 3px rgba(191, 191, 191, 0.9),
            //     inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(191, 191, 191, 0.5);
            border-radius: 10px;
        }
        .media-input {
            // margin: $margin-sm;
            // height: 50px;
            img {
                height: 25px;
                cursor: pointer;
            }

            input {
                background-color: none;
                border: none;
                cursor: pointer;
                margin-top: 1rem;
                padding: 1rem;
            }
        }
    }

    .post-image-container {
        // width: 100%;
        height: 25px;
        background-color: blue;
        margin: 0 1.5rem;
        box-sizing: border-box;
    }
}
.bg {
    z-index: 9998;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}
