@import "../../assets/sass/main.scss";

.jobs-container{
    width: 80%;
    margin: 30px 10%;
    display: flex;
    justify-content: center;
    .left-section{
        flex: 5;
    }
    .right-section{
        flex: 2;
    }
}

@media (max-width: 768px){
    .jobs-container{
        flex-direction: column;
        .right-section{
            order: 1;
            flex: 1
        }
        .left-section{
            order: 2;
            flex: 1;
        }
    }
}