@import "../../assets/sass/main.scss";

.Completion {
    &__container {
        border: 1px solid #c4c4c4;
        padding: 2rem;
        max-width: 857px;
        margin: 2rem auto !important;
        border-radius: 10px;
    }

    &__title {
        margin: 2.8rem 0 2rem 0;
    }
    &__row {
        display: flex;
        width: 100%;

        .Completion__form-group {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }

    &__inner-container {
        margin-bottom: 3rem;
        max-width: 54rem;
        margin: 0 auto;
    }

    &__content-box {
        background: $color-white;
        border: 1px solid #c4c4c4;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
    }
    &__form-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 1rem;
    }
    &__form-input {
        box-sizing: border-box;
        width: 100%;
    }

    &__width-one-third {
        max-width: calc(100% / 3);
    }
    &__hidden {
        visibility: hidden;
    }

    &__cover-container {
        position: relative;
    }

    &__cover {
        background-color: #c4c4c4;
        width: 100%;
        height: 10rem;
        border-radius: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__cover-image-btn-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            display: flex;
            flex-direction: column;
            img {
                height: 35px;
                margin-bottom: 10px;
                cursor: pointer;
            }
            span {
                background-color: $color-white;
                padding: 5px 8px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }

    &__cover-file-ico {
        display: block;
        margin-bottom: 0.5rem;
    }

    &__cover-btn {
        border-radius: 10px;
        outline: none;
        border: 1px solid #d5d5d5;
        box-sizing: border-box;
        padding: 0.4rem 0.8rem;
        background-color: $color-white;
    }

    &__profile-picture-container {
        position: relative;
        top: -3.5rem;
        width: 90%;
        margin: 0 auto;
    }

    &__profile-picture {
        height: 8rem;
        border-radius: 50%;
        width: 128px;
        height: 128px;
    }

    &__profile-picture-btn {
        background: $color-black;
        border: 1px solid $color-black;
        box-sizing: border-box;
        border-radius: 50px;
        padding: 0.5rem 0.8rem;
        color: $color-white;
        position: relative;
        top: -1.2rem;
    }

    &__bio {
        width: 100%;
        resize: none;
        box-sizing: border-box;
    }

    &__subtitle {
        margin: 1.5rem 0 0.8rem 0;
    }

    input,
    textarea,
    &__skills-box {
        border-radius: 4px;
        outline: none;
        border: 1px solid #c4c4c4;
        padding: 0.6rem;
        font-size: 16px;
    }

    &__fields-container {
        // margin-top: -3rem;
    }

    &__skills-container {
        flex-grow: 2;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    &__skills-box {
        height: 100%;
    }

    &__links-container {
        flex-grow: 1;
    }

    &__form-group-skills {
        margin-right: 0 !important;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__submit-btn {
        background: #ff3d00;
        border: 1px solid #ff3d00;
        padding: 10px 20px;
        border-radius: 50px;
        color: white;
        font-weight: bold;
        margin: 20px auto;
        display: block;
        cursor: pointer;
    }

    &__error-msg {
        color: red;
        font-size: 12px;
    }

    &__spinner-container {
        display: flex;
        justify-content: center;
        height: calc(100vh - 100px);
        align-items: center;
    }

    .cover-input-change-container {
        margin-top: -3.5rem;
        display: flex;
        justify-content: flex-end;

        #cover-change-label {
            display: inline-block;
            background-color: black;
            padding: 10px 15px;
            border-radius: 30px;
            color: white;
        }
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    // width: 80px;
    // height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    // margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
