@import "../../assets/sass/main.scss";

.Home {
    &__spinner-container {
        display: flex;
        justify-content: center;
        height: 40vh;
        align-items: center;
    }

    .message-box {
        max-width: 530px;
        box-sizing: border-box;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        span {
            background-color: grey;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 12px;
            cursor: pointer;
        }

        &--danger {
            background-color: rgba($color: rgb(235, 44, 11), $alpha: 0.4);
            border: 3px solid rgb(235, 44, 11);
        }
        &--success {
            background-color: rgba($color: rgb(1, 117, 10), $alpha: 0.4);
            border: 3px solid rgb(1, 117, 10);
        }
    }

    .container {
        @media (min-width: 1080px) {
            .card-cols {
                margin-top: $margin-regular;
                display: flex;
                justify-content: space-around;
                margin-left: $margin-xl;
            }
            .card-col2 {
                margin-left: 4rem;
                margin-right: 4rem;
            }
        }

        @media (min-width: 768px) {
            .card-cols {
                .card-col1 {
                    width: 36rem;
                }
                .card-col2 {
                    width: 36rem;
                    position: sticky;
                    top: 10px;
                    height: fit-content;
                }
            }
        }
        @media (max-width: 560px) {
            .card-cols {
                .card-col1 {
                    margin-left: -1rem;
                    width: 116%;
                }
                .card-col2 {
                    margin-left: -1rem;
                    width: 116%;
                }
            }
        }
    }
}
