@import "../../assets/sass/main.scss";

.exp-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $margin-regular;
    .exp-col-1{
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        img{
            width: 4em;
            height: 4em;
            box-shadow: 2px 2px 5px 2px  	#E2E2E2;
            border-radius: 10px;
        }
        .exp-comp-det{
            p{
                font-weight: 200;
            }
            span{
                &.gray-bg{
                    padding: 0.2em 0.4em;
                    background-color:  	#E2E2E2;
                }
            }
        }
    }
    .exp-col-2{
        flex: 2;
    }

}
@media (max-width: 768px){
    .exp-row{
        flex-direction: column;
        //flex-direction: row;
        .exp-col-1{
            flex: 1;
            margin: $margin-sm;
            //flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img{
                margin: $margin-sm;
            }
            .exp-comp-det{
                text-align: center;
                line-height: 1.8;
            }
        }
        .exp-col-2{
            flex: 1;
        }
    }
}