@import "../../assets/sass/main.scss";
.post-container{
    .poster{
        display: flex;
        .posterimg{
            margin-left: $margin-sm;
            padding-top: $padding-sm;
            .profile-pic{
                margin: $margin-sm;
                border-radius: 50%;
                width: 3.8rem;
                height: 3.8rem;
            }
        }
        .name_desig{
            margin-top: $margin-sm;
            a{   text-decoration: none;
                 color: $color-black;
                .Name{
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: $margin-regular;
                }
            }
            .Desig{
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: $color-grey;
            }
        }
    }
    .post-content{
        p{
            margin-left: $margin-regular;
        }
        .hashtags{
            font-weight: bold;
            color: $color-orange;
        }
        img{
            margin: $margin-regular;
            padding: $padding-sm;
            width: 85%;
        }
    }
    .post-attributes{
        width: 32%;
        display: flex;
        justify-content: space-around;
        p{
            font-family: Poppins;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-grey;
            margin-left: $margin-regular;
            margin-bottom: $margin-sm;
            margin-top: -16%;
        }
    }
    .post-activity{
        width: 30%;
        display: flex;
        justify-content: space-around;
        margin-left: $margin-sm;
        img{
            margin-top: $margin-sm;
        }
    }
    .post-comment{
        width: 90%;
        display: flex;
        
        img{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            padding: $padding-regular;
        }
        input{
            padding: $padding-sm;
            margin-top: $margin-regular;
            border: 1px solid $color-grey;
            border-radius: 24px;
            height: 1rem;
            width: 80rem;
        }
       
    }
    .load-comments{
        margin-left: $margin-sm;
        a{
            color: $color-orange;
            font-family: Poppins;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: $margin-sm;
            text-decoration: none;
        }
    }
}