@import "../../assets/sass/main.scss";

.home-posts-container {
    .poster {
        padding: 0.6rem;
        .edit-post-btn {
            margin-left: 54%;
        }

        button {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            padding: 0px;
        }
        .list-options {
            div {
                display: flex;
                flex-direction: row;
            }
        }
        .open-edit {
            display: flex;
        }
    }
}
button {
    cursor: pointer;
}
@media (min-width: 768px) {
    .home-posts-container {
        .home-posts-content {
            margin-left: -3rem;
            img {
                margin-left: 4rem;
                width: 80%;
                height: 80%;
            }
            p {
                font-size: 15px;
                width: 110%;
            }
        }
    }
    .home-posts-attributes {
        p {
            margin-left: -12%;
        }
        .poster {
        }
    }
}
@media (max-width: 768px) {
    .home-posts-container {
        .home-posts-content {
            margin-left: -3rem;
            p {
                font-size: 12px;
            }
            img {
                margin-left: 3.6rem;
                width: 80%;
            }
        }
    }
}

.home-posts-text {
    white-space: pre-wrap;
}

.home-posts-container {
    .poster {
        display: flex;
        .posterimg {
            margin-left: $margin-sm;
            padding-top: $padding-sm;
            .profile-pic {
                margin: $margin-sm;
                border-radius: 50%;
                width: 3.8rem;
                height: 3.8rem;
            }
        }
        .name_desig {
            margin-top: $margin-sm;
            a {
                text-decoration: none;
                color: $color-black;
                .Name {
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: $margin-regular;
                }
            }
            .Desig {
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: $color-grey;
            }
        }
    }
    .home-posts-content {
        width: 110%;
        // margin-bottom: 10px;

        p {
            margin-left: 5rem;
            width: 80%;
            margin-right: $margin-regular;
            font-weight: normal;
        }
        .hashtags {
            font-weight: bold;
            color: $color-orange;
        }
        img {
            margin-right: $margin-regular;
            padding: $padding-sm;
        }
    }
    .home-posts-attributes {
        width: 60%;
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
        p {
            font-family: Poppins;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-grey;
        }
    }
    .home-posts-activity {
        width: 30%;
        display: flex;
        justify-content: space-around;
        margin-left: $margin-sm;
        button {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            cursor: pointer;
            svg {
                margin-top: 0.1rem;
            }
        }
    }
    .home-posts-comment {
        width: 90%;
        display: flex;

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            padding: $padding-regular;
        }
        input {
            padding: $padding-sm;
            margin-top: $margin-regular;
            border: 1px solid $color-gray;
            border-radius: 24px;
            height: 1rem;
            width: 80rem;
            outline: none;
        }
        .comment-post-btn {
            margin-left: -15%;
            background-color: rgba(0, 0, 0, 0);
            border: none;
        }
    }
    .load-comments {
        margin-left: $margin-sm;
        button {
            background-color: white;
            border: none;
        }
        .comments-loader {
            color: $color-orange;
            font-family: Poppins;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: $margin-sm;
            text-decoration: none;
        }
    }
}
